body {
    overflow: hidden;
}

.App {
    /* padding: 30px; */
    overflow: hidden;
}

.puzzleGrid {
    z-index: 100;
    /* margin: 30px auto; */
    position: relative
}

.gridPixel {
    z-index: 999; 
    position: absolute;
    border: 1px solid #fff;
    transition: all 0.1s;
    cursor: pointer;
}

.gridPixel.active {
    z-index: 1001;
}

.pixelIndex {
    color: black;
    font-weight: 800;
    font-size: 1.5em;
    float: right;
    padding-right: 10px;
}

.leftPanel {
    width: 33vw;
    height: 91vh;
}

.logoImg {
    width: 50%;
    margin: 8vh auto 5vh auto;
}

.logoImgThanks {
    width: 30%;
    margin: 12vh auto 5vh auto;
}

.leftText {
    border-radius: 10px;
    padding: 6vh 3vw 3vh 3vw;
    font-size: 2vh;
    height: 40vh;
    margin: 5vh auto 2vh auto;
    text-align: center;
    width: 85%;
    color: white;
    background-color: #008DC9;
    overflow: hidden;
}

.tickMark {
    width: 15vw;
    height: 8vh;
    background-color: #86C568;
    border-radius: 10vh;
    margin: 0 auto;
    text-align: center;
}

.tickMark3 {
    color: white;
    font-size: 3.5vh;
    font-weight: 600;
    line-height: 8vh;
}

.timerDiv {
    /* width: ; */
    text-align: center;
    margin: 0 auto;
    font-size: 6vw;
    color: #86C568;
    font-weight: 500;
}

.rightPanel {
    margin: 5px;
    width: 66vw;
    background-color: #F3F2F3;
    border-radius: 10px;
    height: 93vh;
}

.puzzleParent {
    padding: 30px;
}

.selectedPuzzle {
    margin: 5vh 50px;
}

.otherPuzzles {
    margin: 5vh auto;
}

.otherPuzzle {
    margin: 0 15%;
}

.otherPuzzle img {
    margin: 2vh auto;
    height: 15vh;
    border-radius: 15px;
}

.winScreen {
    padding: 40px;
}

.winRightPanel {
    width: 66vw;
    background-color: #008DC9;
    border-radius: 10px;
    position: relative;
    height: 93vh;
}

.winMessage {
    color: white;
    text-align: center;
    margin: 9vh auto 0 auto;
    font-size: 4vw;
    text-transform: uppercase;
}

.winTickMark {
    color: white;
    /* font-size: 10vh; */
    text-align: center;
    width: 18vw;
    height: 11vh;
    background-color: #87C569;
    border-radius: 10vh;
    margin: 0 auto;
}

.tickMark2 {
    font-size: 8vh;
    /* line-height: 10px; */
}

.bottomButton {
    background-color: #007699;
    color: white;
    text-align: center;
    font-size: 4vh;
    padding-top: 25px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    height: 12vh;
    border-radius: 0 0 10px 10px;
    left: 0px;
}

.continueBtn {
    color: white;
}

.winScore {
    font-weight: 400;
    text-align: center;
    font-size: 6vh;
    color: #87C569;
    margin-top: -15px;
}

.quizParent {
    padding: 30px;
}

.questionDiv {
    width: 50vw;
    margin: 8vh auto;
}

.categoryTag {
    color: #D3D3D3;
    font-size: 1em;
}

.category {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 10px;
}

.question {
    font-size: 3.2vh;
    font-weight: 500;
    color: #008DC9;
    padding-bottom: 10px;
}

.answers {
    padding-top: 1vh;
    padding-left: 1vw;
}

.answer {
    padding: 10px;
    padding-left: 15px;
    background-color: white;
    border-radius: 20px;
    margin-left: 50px;
    /* margin-top: 10px; */
    top: 10px;
    font-size: 3.2vh;
    font-weight: 500;
    color: #008DC9;
}

.dot {
    margin-top: 10px;
    float: left;
    height: 44px;
    width: 44px;
    background-color: white;
    border-radius: 25px;
}

.innerDot {
    height: 32px;
    width: 32px;
    border-radius: 20px;
    margin: 6px auto;
}

.redFont {
    color: #EB6358;
}

.red {
    background-color: #F4474C;
}

.green {
    background-color: #87C569;
}

.blue {
    background-color: #008DC9;
}

.explanation {
    padding-top: 20px;
    color: #87C569;
    font-size: 2vh;
}

.homeTop {
    height: 65vh;
}

.homeBottom {
    background-color: #008DC9;
    height: 35vh;
    /* bottom: 0px; */
}

.homeLogo {
    width: 25%;
    margin: 0 auto;
    padding-top: 7vh;
}

.homeText {
    width: 70%;
    text-align: center;
    margin: 20px auto 15px auto;
    color: #008DC9;
    font-size: 2.6vh
}

.clickableButton {
    text-align: center;
    font-size: 5vh;
    font-weight: 500;
    color: white;
}

.homeIcon {
    /* top: -20px; */
    width: 80%;
    height: 30vh;
    margin: -13vh auto 0 auto;
    text-align: center;
}

.homeIcon img {
    max-height: 350px;
}

.chooseGameText {
    text-align: center;
    color: #008DC9;
    font-size: 5vh;
    margin: 55px auto;
    font-weight: 500;
}

.timeoutIamge {
    position: relative;
    text-align: center;
}

.bg1 {
    position: relative;
    height: 40vh;
}

.bg2 {
    position: relative;
    height: 50vh;
}

.timer {
    position: absolute;
    height: 20vh;
    left: 50%;
    margin-left: -8vh;
    top: 10vh;
}

.thanksText {
    position: absolute;
    height: 18vh;
    left: 50%;
    margin-left: -35vh;
    top: 15vh;
}

.timeOutMessage {
    color: white;
    text-align: center;
    margin: 15vh auto 0 auto;
    font-size: 5vw;
    text-transform: uppercase;
}

.puzzleEnd {
    position: absolute;
    height: 21vh;
    left: 50%;
    margin-left: -10vh;
    top: 10vh;
}

.quizEnd {
    position: absolute;
    height: 30vh;
    left: 50%;
    margin-left: -15vh;
    top: 5vh;
}